* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

h1{
    margin: 0.3rem;
}

.display {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    height: 3rem;
    width: 100%;
    margin: 1rem 1rem;
    padding: 1rem;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .2rem;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 5px;
}

.col {
    display: flex;
    justify-content: space-between;
}

#zero {
    display: flex;
    flex: 2;
    width: 169px;
}